.x1{



	width: 1000px;
}

.e1{


border: 20px black solid;
text-align: center;

}
h1{

width: 1pxpx;

border: 2px red solid;
border-spacing: 3px;
margin-right: 350px;
margin-left: 450px ;
padding: 30px;
background-color: black;
color: white;
width: ;
}

.v1{


color: #00ff00;
font-size: 35px;
margin-right: 1000px;
font-weight: white;


}

.t1{ background-color: black;

	border: 2px red solid;
	margin-left: 100px;
   margin-right: 1000px;
   padding: 8px;

	color: white;
}

h4{

color: red;
	font-size: 40PX;
	background-color:gray;
border: 3px black solid;
margin-right: 500px;
margin-left: 500px;
word-spacing: 0.5em;

}
.g1{

border: 3px white solid;
color: white;
background-color: black;
font-size: 50px;
padding: 10px;
margin-right:600px;


}

.m1{

border: green 5px solid;
margin-left: 50px;
font-size: 30px;
background-color: mistyrose;


}

h6{


border: 3px red solid;
margin-right: 1100px;
font-size: 20px;
padding: 15px;
margin-left: 100px;
background-color: black;
color: white;


}

.z1{


font-size: 25px;
border: white 3px solid;
margin-left:500px ;
text-align: center;
margin-right: 400px;
padding: 15px;
background-color: hotpink;
}


.n{

word-spacing: 1em;

border: red 2px solid;

margin-right:600px ;
margin-left: 600px;
padding: 10px;
background-color: black;

color: white;
}







































